/* Base styles (desktop) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    font-family: Montserrat, sans-serif;
}

/* CONTAINER 1 */

.container1 {
    width: 100%;
    background-color: #006996; 
    align-items: center;
    justify-content: center;
}

.navbar img{
    margin-top: 25px;
}
li {
    margin-left: 20px; 
    cursor: pointer;
}

.navbar {
    list-style: none; 
    display: flex; 
    align-items: center;
    margin-left: 3%;
    padding-top: 20px;
}

.navbar li {
    margin-top: 1.5%;
    color: #EBDFC5;
    font-size: 18px;
    margin-left: 2%;
}

.navbar li:hover {
    transition: 0.5s ease;
    color: #E45F15;
}

a {
    color: #EBDFC5;
    text-decoration: none;
}

a:hover {
    transition: 0.5s ease;
    color: #E45F15;
}


.conteudo h3 {
    color: #EBDFC5;
    font-size: 3rem;
    margin-left: 5%;
}

.conteudo h1 {
    color: #E45F15;
    font-family: Oswald, sans-serif;
    font-size: 7rem;
    margin-left: 5%;
}

.conteudo p {
    color: #EBDFC5;
    font-size: 1.3rem;
    width: 90%;
    line-height: 25px;
    margin-top: 35px;
    margin-left: 5%;
}

.display1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem1 img{
    margin-top: 20px;
    width: 300px;
    margin-bottom: 80px;
}
.conteudo{
    line-height: 75px;
    margin-left: -100px;
}

@media (max-width: 1035px) {
    .imagem1 img{
        width: 320px;
    }
    .conteudo h1 {
        font-size: 6rem;
    } 
    .conteudo{
        line-height: 75px;
        margin-left: 10px;
    }
}

@media (max-width: 870px) {
    .display1{
        flex-direction: column;
        gap: 10px;
    }
    .imagem1 img{
        width: 215px;
        margin-left: 25px;
    }
    .conteudo h1 {
        font-size: 4rem;
    } 
    .conteudo h3 {
        font-size: 2rem;
    } 
    .conteudo p {
        font-size: 1rem;
    } 
    
    .conteudo{
        line-height: 50px;
        text-align: center;
        flex-direction: column;
        margin-top: 10px;
    }
    .navbar a{
        font-size: 14px;
    }
    
}
@media (max-width: 382px) {
    .imagem1 img{
        width: 200px;
    }
    .conteudo h1 {
        font-size: 3rem;
    } 
    .conteudo h3 {
        font-size: 1.5rem;
    } 
    .conteudo p {
        font-size: 1rem;
    } 
}
@media (max-width: 350px) {
    .container1 li a{
        font-size: 0.7rem;
    }
    .container1 ul img{
        width: 20px;
    }
}
@media (max-width: 280px) {
    .container1 li a{
        font-size: 0.5rem;
    }
}



/* CONTAINER 2 */

.container2 {
    width: 100%;
    background-color: #EBDFC5;
    align-items: center;
    justify-content: center; 
    padding: 5%;
}
.imagem2 img{
    width: 550px;
    margin-left: 40px;
}
.conteudo2 h1 {
    color: #E45F15;
    font-family: Oswald;
    font-size: 4.375rem;
    text-align: center;
}

.conteudo2 p {
    font-size: 1.3rem;
    text-align: center;
}


.display2 {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

@media (max-width: 1102px) {
    .imagem2 img{
        width: 400px;
        margin-left: 20px;
    }
}
@media (max-width: 969px) {
    .display2{
        flex-direction: column;
        padding: 20px;
        gap: 5px;
    }
    .imagem2 {
        justify-content: center;
    }
}
@media (max-width: 480px) {
    .imagem2 img{
        width: 300px;
        justify-content: center;
    }
    .conteudo2 h1 {
        font-size:  3rem;
    }
    .conteudo2 p {
        font-size: 1rem;
    }
    .display2{
        padding: 0px;
        margin: 0%;
    }
}
@media (max-width: 480px) {
    .imagem2 img{
        width: 250px;
        justify-content: center;
    }
    .display2{
        margin: 40px;
    }
    
}

/* CONTAINER 3 */

.container3 {
    text-align: center;
    background-color: #006996;
    width: 100%;
    height: auto; /* Remove o valor fixo para ser ajustável */
    padding: 2rem 0; /* Adiciona padding para melhorar espaçamento em mobile */
}

.container3 h1 {
    display: inline-block;
    color: #EBDFC5;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 80%; /* Ajusta para 80% para dar espaço em dispositivos menores */
    font-family: Oswald;
    font-size: 3rem; /* Reduz o tamanho da fonte em mobile */
    line-height: normal;
    margin-top: 2rem;
}

/* Cards */
.cardDef {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os cards fiquem em linhas no mobile */
    padding-top: 1rem;
}

.card {
    width: 90%; /* Reduz a largura das cards para dispositivos menores */
    max-width: 19.375rem;
    height: 26rem; /* Mantém uma altura mais fixa */
    border-radius: 4.375rem;
    background: #E45F15;
    font-family: Montserrat;
    margin: 1.25rem;
    color: #EBDFC5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse a borda */
    transition: background 1s ease; /* Suaviza a transição */
    padding: 10px;
}

.card h3, .card p {
    margin: 0.625rem 1rem; /* Ajuste de margens menores em mobile */
    text-align: center; /* Centraliza o texto em telas menores */
    transition: opacity 0.3s ease;
}

/* Efeitos de hover */
.um:hover h3, .um:hover p,
.dois:hover h3, .dois:hover p,
.tres:hover h3, .tres:hover p {
    opacity: 0; /* Oculta o texto ao passar o mouse */
}

.um:hover {
    opacity: 70%;
    background-image: url('https://somosiberoamerica.org/wp-content/uploads/2022/09/Onda-Pais-Imagen-destacada.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    transition: background 1s ease, opacity 1s ease;
}

.dois:hover {
    opacity: 70%;
    background-image: url('https://empreendedores.mercadopago.com.br/hs-fs/hubfs/imagens/blog/empreendedor/Como-vender-quadros-decorativos-Mercado-Pago.jpg?width=670&name=Como-vender-quadros-decorativos-Mercado-Pago.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    transition: background 1s ease, opacity 1s ease;
}

.tres:hover {
    opacity: 70%;
    background-image: url('https://www.turismo.ms.gov.br/wp-content/uploads/2017/02/casa-do-artes%C3%A3o-2620.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    transition: background 1s ease, opacity 1s ease;
}

.conteudo3 span {
    position: relative;
    color: #EBDFC5;
    font-family: Montserrat;
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid #EBDFC5;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: inline-block;
    margin-top: 2rem; /* Adiciona margem no topo para espaçamento */
}




/* CONTAINER 4 */

.container4 {
    width: 100%;
    background: #EBDFC5;
    display: flex;
    flex-direction: column;
}

/* Títulos dentro do conteúdo */
.conteudo4 h1 {
    color: #E45F15;
    font-family: Oswald;
    font-size: 7rem;
    line-height: 100px;
    text-align: left;
}

.display4 {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 200px;
    justify-content: center;
}

.display4 aside {
    padding-left: 7rem;
}

.imagem4{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.imagem4 img{
    width: 130px;
    padding-top: 3rem;
}
.texto4 {
    margin-top: 2rem;   
}

.texto4 h1 {
    color: #E45F15;
    font-family: Montserrat;
    font-size: 2rem;
    text-align: left;
}

.texto4 p {
    color: #E45F15;
    font-family: Montserrat;
    font-size: 1.3rem;
}
.imagem-text4{
    display: flex;
}

.imagem-text4 > texto4{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1000px) {
    
    .imagem4 {
        margin-left: 10%;
    }

}

@media screen and (max-width: 1846px) {
    
    #t2{
        margin-top: 100px;
    }
    #t3{
        margin-top: 80px;
    
    }
    .imagem4 img{
        padding-top: 4rem;
    }

}

@media screen and (max-width: 1400px) {
    
    .display4{
        flex-direction: column;
        /* gap: 150px; */
    }
    .conteudo4 h1{
        text-align: center;
    }
    .imagem4 img{
        width: 125px;
    }

    .imagem4{
        flex-direction: row;
        flex-direction: column;
        margin-left: 10%;
    }
    .imagem-text4{
        display: flex;
        margin-top: -150px;
    }
    
    .texto4 p{
        width: 90%;
    }
    .imagem4 img{
        padding-top: 5rem;
    }

    .texto4 {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 900px) {
    .imagem4 img{
        padding-top: 5rem;
    }
    .texto4 {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 780px) {
    .conteudo4 h1{
        font-size: 4rem;
        line-height: 70px;
    }
    .conteudo4{
        margin-bottom: 50px;
    }

    .imagem4 img{
        display: none;

    }
    .texto4{
        padding: 10px;
        margin-left: -25%;
    }
    
    .texto4 p{
        text-align: center;
        margin-top: 20px;
        width: 85%;
    }
    
    .texto4 h1{
        padding: 0%;
        margin: 0%;
        text-align: center;
    }
    .display4 aside {
        padding: 0%;

    }
    .display4{
        gap: 1px;
    }
    .imagem-text4{
        padding: 0%;
        margin: 0%;
    }
}

@media screen and (max-width: 400px) {

}
















/* CONTAINER 5 */

.imagem-membros{
    text-align: center;
    margin-top: 4%;
}

.conteudo5 p {
    width: 52.8125rem;
    color: #EBDFC5;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: 400;
    margin: auto;
    padding-top: 1rem;
}


/* Container 5 (Membros) */
.container5 {
    width: 100%;
    height: auto;
    background: #E45F15;
    padding: 3rem ;
    text-align: center;
}

.conteudo5 h1 {
    width: 100%;
    color: #EBDFC5;
    font-family: Oswald, sans-serif;
    font-size: 6rem;
    margin: 0;
}

.conteudo5 p {
    width: 70%;
    color: #EBDFC5;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    margin: 0 auto;
}

.imagem-membros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.imagem-membros-img {
    width: 80%;
    max-width: 700px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.imagem-membros-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .conteudo5 h1 {
        font-size: 4rem;
    }

    .conteudo5 p {
        font-size: 1.2rem;
    }

    .imagem-membros-img {
        width: 90%;
    }
}   



/* CONTAINER 6 */

.container6 {
    width: 100%;
    background: #006996;
}
.conteudo6 h1 {
    color: #E45F15;
    font-family: Oswald;
    font-size: 8rem;
    width: 80%;
    margin-left: 100px;
}
.conteudo6 {
    line-height: 700%;
    z-index: 10;
}
.display6 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
}

/* .container6 p {
    color: #EBDFC5;
    font-family: Montserrat;
    border-radius: 37px;
    border: 2px solid #EBDFC5;
    cursor: pointer;
}  */

.imagem6 img{
    width: 400px;
    margin-top: 50px;
}
@media (max-width: 1100px){
    .display6 {
        padding: 0%;
        margin: 0px;
    }
    .conteudo6 h1{
        margin-left: 80px;
    }
}

@media (max-width: 912px){
    .conteudo6 h1 {
        font-size: 5rem;
    }
    .display6{
        flex-direction: column;
    }
    
    .imagem6 img{
        width: 300px;
    }
    .conteudo6 h1 {
        font-size: 6rem;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 70px;
        text-align: center;
        line-height: 90%;
    }
}





/* CONTAINER 7 */
.container7{
    background-color: #EBDFC5;
    width: 100%;
    height: auto;
}
.display7{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container7 p{
    color: #E45F15;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 50px;
}
.container7 img{
    margin-top: 50px;
    width: 100px;
}

@media (max-width: 600px){
    
    .display7{
        flex-direction: column;    
        gap: 0px;
    }
    .container7 p{
        margin-top: 30px;
        font-size: 1.3rem;
    }
    .display7 img{
        width: 100px;
    }
   
}
#inicio{
    color: #E45F15;
    align-items: end;
    justify-content: center;
    padding-bottom: 10px;
    display: flex;
}
#inicio img{
    width: 40px;
}